##########################################################
# System Files
##########################################################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# MAC .DS_Store
*/.DS_Store
.DS_Store

# idea .idea
.idea

# vscode
.vscode

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


##########################################################
# User Files
##########################################################

#=========================================================
# ignore deleted files
**/delete/
ignore_data/
note/
psd/
bing_images/